Tuples

In [1]:
expenses = [1200, 1400, 1700]

In [2]:
point = (5, 6)

In [3]:
point[1]

6

In [4]:
point[1] = 8

TypeError: 'tuple' object does not support item assignment

In [5]:
point = (5, 6, 7, 10, 67)

In [6]:
point

(5, 6, 7, 10, 67)

In [7]:
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [8]:
pe_ratio, pb_ratio = find_pe_and_pb(100, 2, 4)

In [9]:
print("pe_ratio:", pe_ratio)
print("pb_ratio:", pb_ratio)

pe_ratio: 50.0
pb_ratio: 25.0

Dictionary

In [13]:
#List or tuple way
contacts = [('rachel', 8888888888), ('monica', 345845454334), ('joey', 7823782332)]

In [14]:
contacts

[('rachel', 8888888888), ('monica', 345845454334), ('joey', 7823782332)]

In [16]:
for contact in contacts:
    if contact[0] == 'joey':
        print(contact[1])

7823782332

In [20]:
# Dictionary way('Key':value)
d = {
    'rachel': 8888888888,
    'monica': 345845454334,
    'joey': 7823782332
}

In [21]:
d

{'rachel': 8888888888, 'monica': 345845454334, 'joey': 7823782332}

In [22]:
d['joey']

7823782332

In [23]:
d['mohan']

KeyError: 'mohan'

In [25]:
d.get('mohan') # return None value

In [26]:
d.get('mohan', 0)

0

In [27]:
d.get('joey', 0)

7823782332

In [28]:
d['rachel'] = 345334534534

In [29]:
d['rachel']

345334534534

In [30]:
d['satya'] = 9847288

In [31]:
d

{'rachel': 345334534534,
 'monica': 345845454334,
 'joey': 7823782332,
 'satya': 9847288}

In [32]:
del d['satya']

In [33]:
d

{'rachel': 345334534534, 'monica': 345845454334, 'joey': 7823782332}

In [34]:
'abdul' in d

False

In [35]:
'rachel' in d

True

In [36]:
d = {
    'rachel': {'phone': 1234, 'address': '1 blue st.'},
    'joey': {'phone': 1999, 'address': '34 newton blvd.'}
}

In [38]:
d['rachel']['address']

'1 blue st.'

In [39]:
d['joey']

{'phone': 1999, 'address': '34 newton blvd.'}

In [41]:
d = {
    'rachel': 8888888888,
    'monica': 345845454334,
    'joey': 7823782332
}
d

{'rachel': 8888888888, 'monica': 345845454334, 'joey': 7823782332}

In [43]:
for name in d:
    print(name, d[name])
    print

rachel 8888888888
monica 345845454334
joey 7823782332

In [44]:
for name, number in d.items():
    print(name, number)

rachel 8888888888
monica 345845454334
joey 7823782332

In [46]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [48]:
d

{'rachel': 8888888888, 'monica': 345845454334, 'joey': 7823782332}

In [49]:
d.keys()

dict_keys(['rachel', 'monica', 'joey'])

In [50]:
list(d.keys())

['rachel', 'monica', 'joey']

In [51]:
d.values()

dict_values([8888888888, 345845454334, 7823782332])

In [53]:
list(d.values())

[8888888888, 345845454334, 7823782332]

EXERCISE